<div class="container" id="login-container">
    <div class="row" >
        <div class="login-container">
            <section class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <img src="/assets/images/placeholderlogo.png" class="img-responsive" alt="" />
                    <label for="username">Username:</label>
                    <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="user@mail.com" formControlName="email"/>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" formControlName="password" />

                    <button [disabled]="loading" type="submit" name="go" class="login btn btn-lg btn-primary btn-block" >Sign in</button> <!-- (click)="tryLogin(username.value, password.value)" -->
                    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <div>
                        <!-- <a href="#">Create account</a> or <a href="#">reset password</a> -->
                    </div>

                </form>
            </section>
            <div *ngIf="logged"> LOGGED </div>
        </div>
    </div>
</div>
